.profile-box{
  padding: 15px 50px;
  .profile-icon {
    font-size: 20px;
    margin-right: 3px;
  }
}

.timeline-container{
  padding: 15px 50px;
  
  .timeline-blog-title {
    cursor: pointer;
    color: #222226;
    margin-right: 10px;
    &:hover {
      color: #06f;
    }
  }
  .timeline-blog-create {
    color: #999aaa;
    margin-right: 10px;
  }
}

.user-link-box{
  position: absolute;
  left: 8px;
  font-size: 22px;
  color: #8590a6;
  svg{
    cursor: pointer;
    &:hover{
      color: #121212;
    }
  }
}

