.author-info {
  background-color: #f8f8f8;;
  padding: 15px 0;
  margin: 20px 0;
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    font-size: 16px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}

.author-user {
  color: #555666;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: #06f;
  }
}
.article-date {
  color: #999aaa;
}

.article-title {
  padding-bottom: 5px;
  position: relative;
  .title-span {
    font-size: 28px;
    font-weight: 600;
    color: #222226;
    margin-right: 15px;
  }
  button{
    position: absolute;
    right: 0;
    top: 8px;
  }
}

.article-count-box{
  display: inline-block;
  color: #555666;
  .article-count-curser-default{
    cursor: default;
  }
  .article-count-curser-point{
    cursor: pointer;
  }
  .article-count{
    line-height: 28px;
    margin-left: 6px;
  }
}
