.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-divider-inner-text {
  color: #222226;;
}

.ant-list-item-meta-avatar {
  margin-top: 5px;
  cursor: pointer;
}

.ant-list-vertical {
  .ant-list-item-meta-title {
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.ant-list-item-meta {
  margin-bottom: 5px;
}


.ant-list-vertical {
  .ant-list-item-meta {
    margin-bottom: 10px;
  }
}

.follow-list {
  .ant-avatar {
    cursor: pointer;
    transition: all .2s linear;
  }
  .ant-avatar:first-child{
    &:hover {
      margin-right: 6px;
    } 
  }
  .ant-avatar:not(:first-child){
    &:hover {
      margin-left: -2px;
      margin-right: 6px;
    } 
  }
}