.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-divider-inner-text {
  color: #222226;;
}

body {
  background-color: #f6f6f6;
}

.content-container {
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 72px 30px 20px 30px;
  background-color: white;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: 1s;
}