.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-divider-inner-text {
  color: #222226;;
}

body {
  background-color: #f6f6f6;
}

.content-container {
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 72px 30px 20px 30px;
  background-color: white;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: .5s;
}

.ant-list-item-meta-avatar {
  margin-top: 5px;
  cursor: pointer;
}

.ant-list-vertical {
  .ant-list-item-meta-title {
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.ant-list-item-meta {
  margin-bottom: 5px;
}


.ant-list-vertical {
  .ant-list-item-meta {
    margin-bottom: 10px;
  }
}

.login-form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  width: 300px;
  height: 300px;
  transform: perspective(900px);
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.login-modal-form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -220px;
  width: 300px;
  height: 300px;
  transform: perspective(900px);
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.turn-form-box-left {
  transform: perspective(900px) rotateY(-90deg);
}

.login-form {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 24px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
  .register-btn {
    padding: 0;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl {
    .login-form-forgot {
      float: left;
    }
  }
  .login-form-button {
    width: 100%;
    margin-bottom: 15px;
  }  
}

.login-form-before {
  transform: translateZ(150px)
}

.login-form-right {
  transform: rotateY(90deg) translateZ(150px);
}

.loading-container {
  position: fixed;
    top: 52px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: calc(100vh - 52px);
    text-align: center;
    opacity: 0.6;
    background-color: #fff;
    .ant-spin {
      position: absolute;
      top: 50%;
      margin-top: -110px;
    }
}